@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

body {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300; /* Replace with desired weight */
  font-style: normal;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
}
